
<div id="controls">
    <table style="width:100%">
        <tr>
            <td id="timeDisplay" colspan="2" style="text-align: center;">
                00:00
            </td>
        </tr>
        <tr>
            <td class="s2_msrc_icon_td">
                <img
                id="playPauseButton"
                src="../../../images/appUi/playBtn.svg"
                alt="play"
                width="100%" />
            </td>
            <td class="s2_msrc_icon_td">
                <img
                id="stopButton"
                src="../../../images/appUi/homeBtn.svg"
                alt="play"
                width="100%" />
            </td>
        </tr>
        <tr>
            <td class="s2_msrc_icon_td">
                <img
                id="stepBackButton"
                src="../../../images/appUi/previousBtn.svg"
                alt="play"
                width="100%" />
            </td>
            <td class="s2_msrc_icon_td">
                <img
                id="stepForwardButton"
                src="../../../images/appUi/nextBtn.svg"
                alt="play"
                width="100%" />
            </td>
        </tr>
        <tr>
            <td class="s2_msrc_icon_td">
                <img
                id="loopButton"
                src="../../../images/appUi/dontLoopBtn.svg"
                alt="play"
                width="100%" />
            </td>
            <td class="s2_msrc_icon_td">
                <img
                id="muteButton"
                src="../../../images/appUi/soundBtn.svg"
                alt="play"
                width="100%" />
            </td>
        </tr>
    </table>
    <div id="addPlayerDiv" style="text-align: center">
        <button id="addPlayerButton" class="s2_msrc_add_btn"></button>
        <br>
    </div>
    <div id="listAllPlayersDiv" class="s2_msrc_list_play">
    Connected Movies
    </div>
</div>
