


#mapDiv {
	border: 1px solid black;
}

#imageSlides {
	position: relative;
	/* border: 1px solid black; */
}

.imageDiv {
	position: absolute;
}

.imageDivNeutral {
	border: 10px solid white;
}

.imageDivSelected {
	border: 10px solid black;
}

